<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='phong_cho.js') }}"></script>
  <script type="text/javascript">

    </script>
    <meta charset="UTF-8">
    <title>Thanh cong</title>
  <style>
    button{
    padding: 7px;
    border: solid;
    border-radius: 4px;
    cursor: pointer;
}
  </style>
</head>
<body>
<div align="center">
  <h1>Vui lòng quý khách chờ trong giây lát</h1>
    </div>
</body>
</html>